{% extends 'base_CRUD.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<div class="container"><br>
    <h1> Catégories</h1> <br><br>
    {% include 'layouts/_flash_message.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom de la catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_update', {'id': category.id}) }}" class="btn  btn-outline-primary">Modifier</a> | <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?')" href="{{ path('app_category_delete', {'id': category.id}) }}" class="btn  btn-danger">Supprimer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3" class="text-center">
                    <p>Aucune catégorie à afficher pour l'instant</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('app_category_new') }}" class="btn btn-success">Ajouter une catégorie</a>
</div>
{% endblock %}